* {
	box-sizing: border-box;
}

html {
	--background-color: #000;
	--main-gradient-1: #000;
	--main-gradient-2: #040404;

	--text-lite: #b8b8b8;
	--text-inactive: #777;
	--text-color: #fff;

	--bubble-background-1: #0a0a0a;
	--bubble-background-2: #161616;

	--color-valid: #6a994e;
	--color-invalid: #ca3c25;
	--color-attention: #eea243;

	--header-background: rgba(31, 31, 31, 0.5);
	--header-border: #333;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

html {
	background-color: var(--background-color);
}

body {
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -255; /* behind all content */
		background: linear-gradient(to bottom left, var(--main-gradient-1), var(--main-gradient-2));
		background-size: cover;
	}

	color: var(--text-color);

	font-size: 16px;
	font-family: "Lexend Deca", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	margin: 0 0 0.5em 0;
}

a[href] {
	color: inherit;
}

hr {
	width: 100%;
	height: 0.025rem;
	background-color: var(--text-lite);
	opacity: 0.5;
	border: none;

	&.light {
		width: 75%;
		margin-right: 0;
		opacity: 0.25;

		-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
	}

	&.mini {
		width: 75%;
		opacity: 0.25;

		-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
	}
}

header {
	a {
		text-decoration: none;
	}

	background: var(--header-background);
	backdrop-filter: blur(4rem);
	-webkit-backdrop-filter: blur(4rem); // safari support

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: linear-gradient(to bottom, var(--background-color), transparent);

		z-index: -1; // place it behind content
	}

	border-bottom: 0.5px solid var(--header-border);

	display: flex;
	padding: 1rem;

	position: sticky;
	top: 0;
	z-index: 1;

	.title {
		font-size: 2rem;
	}

	.icon-container {
		flex: 1;

		display: flex;
		justify-content: end;
		align-items: center;
		gap: 1rem;
		opacity: 0.8;

		.icon {
			cursor: pointer;
			width: 2rem;
			aspect-ratio: 1;

			&.sort {
				background-image: url("../../svg/sort.svg");
			}

			&.plus {
				background-image: url("../../svg/plus.svg");
			}

			&.new-friend {
				background-image: url("../../svg/new_friend.svg");
			}

			&.account {
				background-image: url("../../svg/person.svg");
			}

			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

main {
	padding: 1rem;
}

footer {
	padding: 1rem 2rem 2rem 2rem;
	font-size: 0.875rem;
	opacity: 50%;
	text-align: center;

	hr {
		opacity: 1;
		margin-bottom: 1rem;
	}

	img {
		height: 1em;
		margin-bottom: 0.125rem;
		vertical-align: middle;
	}
}

#sort-menu,
#account-menu {
	background: linear-gradient(to bottom left, var(--main-gradient-1), var(--main-gradient-2));
	background-size: cover;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 255; // above all content

	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;

	padding: 4rem;
	font-size: 1.25rem;

	.back-icon {
		width: 3rem;
		aspect-ratio: 1;
		background-image: url("../../svg/arrow-left.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		opacity: 0.75;
	}

	.menu-title {
		font-size: 2.5rem;

		.menu-subtitle {
			opacity: 0.75;
			margin-top: 0.5rem;
			font-size: 1.25rem;
		}
	}

	.option {
		display: flex;
		align-items: center;
		gap: 1rem;

		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}

		.radio {
			width: 1.5rem;
			aspect-ratio: 1;

			border: 0.185rem solid var(--text-color);
			border-radius: 50%;

			position: relative;

			&.active::before {
				content: "";
				background-color: var(--text-color);
				height: 0.75rem;
				aspect-ratio: 1;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.floating-icon {
	cursor: pointer;
	width: 20rem;
	aspect-ratio: 1;

	&.new-friend {
		background-image: url("../../svg/new_friend.svg");
	}

	&.user {
		background-image: url("../../svg/user.svg");
	}

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
